---
layout: default
---
{% assign posts_count = (paginator.posts | size) %}

<div id="gr_grid_widget_1447164563" class="recent-reads">
  <h2>
    <a style="text-decoration: none;" href="https://www.goodreads.com/review/list/17475014-paul?shelf=read&utm_medium=api&utm_source=grid_widget">my recent reads..</a>
  </h2>
  <div class="gr_grid_container"/>
    <noscript><br/>Share <a href="https://www.goodreads.com/review/list/17475014-paul">book reviews</a> and ratings with Paul on Goodreads.</noscript>
  </div>
</div>
<div class="clearfix"></div>

<div class="home">
  {% if posts_count > 0 %}
    <div class="posts">
      {% for page in paginator.posts %}
        <div class="post py3">
          <p class="post-meta">{{ page.date | date: site.date_format }} {% include post_tags.html %}</p>
          <a href="{{ page.url | prepend: site.baseurl }}" class="post-link"><h3 class="h1 post-title">{{ page.title }}</h3></a>
          <p class="post-summary">
            {{ page.excerpt }}
            <br>
            <a href="{{ page.url | prepend: site.baseurl }}" class="post-link more">read more and comment..</a>
          </p>
        </div>
      {% endfor %}
    </div>

    {% include pagination.html %}
  {% else %}
    <h1 class='center'>{{ site.text.index.coming_soon }}</h3>
  {% endif %}
</div>

<script src="https://www.goodreads.com/review/grid_widget/17475014.my%20recent%20reads..?cover_size=medium&hide_link=true&hide_title=&num_books=8&order=d&shelf=read&sort=date_read&widget_id=1447164563" type="text/javascript" charset="utf-8"></script>
