{% if site.google_ad_client %}
<div class="measure">
     <strong>Like this site? You can support it by checking out some ads or posting on your favourite social network..</strong>
     <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
     <!-- visual555 -->
     <ins class="adsbygoogle"
          style="display:inline-block;width:728px;height:90px"
          data-ad-client="{{ site.google_ad_client }}"
          data-ad-slot="{{ site.google_ad_slot }}"></ins>
     <script>
     (adsbygoogle = window.adsbygoogle || []).push({});
     </script>
</div>
{% endif %}
