.gr_grid_container {
  /* customize grid container div here. eg: width: 500px; */
}

.gr_grid_book_container {
  /* customize book cover container div here */
  float: left;
  width: 98px;
  height: 160px;
  padding: 0px 0px;
  overflow: hidden;
}

.gr_grid_book_container img {
  width: 98px;
  height: 109px;
}

.recent-reads a {
  color: #333;
  text-shadow: none;
  background-image: none;
}