.gr-wrapper {
  min-height: 144px;
}

.recent-reads {
  /* header above the goodreads widget */
  a {
    color: #7a7a7a;
    text-shadow: none;
    background-image: none;
  }
  h2 {
    font-weight: 300;
    font-style: italic;
    font-size: 1rem;
    font-family: $font-family;
  }
}

.gr_grid_container {
  /* outer wrapper for the goodreads snippet. */
}

.gr_grid_book_container {
  /* book cover container - force them all to the same size! */
  float: left;
  width: 98px;
  height: 109px;
  padding: 0px 0px;
  overflow: hidden;
  img {
    /* book cover images*/
    width: 98px;
    height: 109px;
  }
}


@media #{$breakpoint-below-md} {
  .gr-wrapper {
    min-height: 112px;
  }
  .gr_grid_book_container {
    width: 70px;
    height: 80px;
    img {
      /* book cover images - force them all to the same size! */
      width: 70px;
      height: 80px;
    }
  }
}
